body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "lato", sans-serif;
}

.head {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  gap: 5px;
}

.photoInside {
  position: relative;
  display: block;
}

.big-snowboarder {
  padding-top: 5px;
  border-radius: 25px;
  width: 70vw;
}

.WELCOME {
  position: absolute;
  text-align: center;
  color: aliceblue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;
  font-weight: bold;
  background-color: #115e86;
  z-index: 1;
}

.prices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
}

.sections img {
  width: 100%;
  max-height: 400px;
  margin-bottom: 10px;
  border-radius: 10%;
}

.price-image {
  height: 300px;
  margin-bottom: 10px;
  border-radius: 25px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

@media (max-width: 600px) {
  .sections {
    width: 100%;
  }

  .prices {
    flex-direction: column;
    align-items: center;
  }

  .price-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10%;
  }

  .big-snowboarder {
    width: 100%;
  }
}

.included {
  color: #115e86;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 350px;
  margin-right: 20px;
}

.information input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.info-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.center,
.offer,
.hand-tuning,
.powder-prep,
.contact {
  margin-bottom: 10px;
}

.offer,
.hand-tuning,
.powder-prep,
.contact {
  padding: 10px;
  max-width: 300px;
  margin: 0 0 15px 15px;
  text-align: left;
}

.offer,
.hand-tuning,
.powder-prep {
  font-weight: 900;
}

.directory {
  background-color: #115e86;
  color: aliceblue;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  padding: auto;
}

.directory:hover {
  color: #76cfff;
}
header {
  background-color: #96999b;
  padding: 10px;
  text-align: end;
}

.form-box {
  width: 30%;
  max-width: absolute;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #96999b;
  padding: 50px 60px 70px;
  text-align: center;
  border-radius: 10px;
}

.form-box h1 {
  font-size: 30px;
  margin-bottom: 55px;
  color: aliceblue;
  position: relative;
}
.form-box h1::after {
  content: "";
  width: 30px;
  height: 5px;
  border-radius: 3px;
  background-color: #115e86;
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translate(-50%);
}

.input-field {
  background-color: white;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 65%;
  transition: max-height 0.5s;
  overflow: hidden;
}

.signInput {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px;
}

.input-field i {
  margin-left: 15px;
  color: #96999b;
}
form p {
  text-align: left;
  font-size: 13px;
}
form p a {
  text-decoration: none;
  color: #115e86;
}
.btn-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-field button {
  flex-basis: 48%;
  background: #115e86;
  color: aliceblue;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}
.input-group {
  height: 200px;
}

.btn-field button.disable {
  background-color: #656666;
  color: rgb(207, 207, 207);
}

.submitBtn {
  flex-basis: 48%;
  background: #115e86;
  color: aliceblue;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
  width: 100%;
}

.submit-field {
  padding: 20px;
}
